@page
@model Web.Pages.Network.Photo.EditModel

@{
    ViewData["Title"] = "Edit Photo Post";
}

<header>
<h1>Edit Photo Post Details</h1>
</header>
<section>
<h4>Photo Post Details</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhotoPost.Filename" class="control-label"></label>
                <input asp-for="PhotoPost.Filename" class="form-control" />
                <span asp-validation-for="PhotoPost.Filename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPost.Caption" class="control-label"></label>
                <input asp-for="PhotoPost.Caption" class="form-control" />
                <span asp-validation-for="PhotoPost.Caption" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="PhotoPost.PostId" />
            <div class="form-group">
                <label asp-for="PhotoPost.Author" class="control-label"></label>
                <input asp-for="PhotoPost.Author" class="form-control" />
                <span asp-validation-for="PhotoPost.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPost.Timestamp" class="control-label"></label>
                <input asp-for="PhotoPost.Timestamp" class="form-control" />
                <span asp-validation-for="PhotoPost.Timestamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPost.Likes" class="control-label"></label>
                <input asp-for="PhotoPost.Likes" class="form-control" />
                <span asp-validation-for="PhotoPost.Likes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
</section>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}