@{
    ViewData["Title"] = "Home Page";
}

<header class="text-center jumbotron justify-content-center">
    <h1 class="display-4 text-center">CO453 Applications Programming 2022</h1>
    <h2>By Samuel Baker</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <ol class="list-group">
        <li class="list-group-item">
            <a class="btn btn-success" asp-controller="Home" 
            asp-action="DistanceConverter">App01</a> 
            Distance Converter
        </li>
        <li class="list-group-item">
            <a class="btn btn-info" asp-controller="Home" 
            asp-action="BMICalculator">App02</a> 
            BMI Calculator
        </li>
    </ol>
</section>
