@page
@model Web.Pages.Network.CreateModel

@{
    ViewData["Title"] = "Add Post";
}

<h1>Add Post</h1>
<section>
<h4>Add a New Post</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MessagePost.Message" class="control-label"></label>
                <textarea asp-for="MessagePost.Message" class="form-control"></textarea>
                <span asp-validation-for="MessagePost.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessagePost.Author" class="control-label"></label>
                <input asp-for="MessagePost.Author" class="form-control" />
                <span asp-validation-for="MessagePost.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}