@page
@model Web.Pages.Network.MessagePosts.DeleteModel

@{
    ViewData["Title"] = "Remove Message Post";
}
<header>
<h1>Remove Message Post</h1>
</header>
<section>
<h4>Are you sure you want to remove this Message Post?</h4>
<hr/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessagePost.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessagePost.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessagePost.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessagePost.Author)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MessagePost.PostId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
    </form>
</section>
