@page
@model IndexModel
@{
    ViewData["Title"] = "Homepage";
}

<header class="jumbotron text-center">
    <h1 class="display-4">CO453 Applications Programming 2022</h1>
    <h2>By Samuel Baker</h2>
     <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</header>
<section>
    <ol class="list-group">
        <li class="list-group-item">
            <a class="btn btn-success" 
            href="/DistanceConverter">App01</a> 
            Distance Converter
        </li>
        <li class="list-group-item">
            <a class="btn btn-info" 
            href="/BMICalculator">App02</a> 
            BMI Calculator
        </li>
        <li class="list-group-item">
            <a class="btn btn-warning" 
            href="/Students/StudentMarks">App03</a> 
            Student Marks
        </li>
        <li class="list-group-item">
            <a class="btn btn-danger" 
            href="/Social Network">App04</a> 
            Social Network
        </li>
    </ol>
</section>