@page
@model Web.Pages.Network.Comments.DeleteModel

@{
    ViewData["Title"] = "Remove Comment";
}
<header>
<h1>Remove Comment</h1>
</header>
<section>
<h4>Are you sure you want to remove this Comment?</h4>
<hr/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Post)
        </dt>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Comment.CommentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
    </form>
</section>